body {
}
/* https://www.w3schools.com/howto/howto_css_parallax.asp */
.home-container {
    background-repeat: no-repeat;
    background-image: url("/img/adult-alcohol-bar.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("/img/adult-alcohol-bar.jpg");
    background-color: #333;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
.events-container {
    background-repeat: no-repeat;
    /* Photo by Luca Bravo on Unsplash https://unsplash.com/photos/fIHozNWfcvs */
    background-image: url("/img/gades-photography-540989-unsplash.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url("/img/gades-photography-540989-unsplash.jpg");
    background-color: #333;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
.index-container {
    background-repeat: no-repeat;
    /* Photo by Gades Photography on Unsplash https://unsplash.com/photos/8x_fFNrmeDk */
    background-image: url("/img/luca-bravo-287775-unsplash.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url("/img/luca-bravo-287775-unsplash.jpg");
    background-color: #333;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
.business-container {
    background-repeat: no-repeat;
    /* Photo by Serge Esteve on Unsplash https://unsplash.com/photos/klXhDG8Roj4 */
    background-image: url("/img/serge-esteve-5821-unsplash.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url("/img/serge-esteve-5821-unsplash.jpg");
    background-color: #333;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
.details-container {
    background-repeat: no-repeat;
    background-image: url("/img/bar-ceiling-chairs.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("/img/bar-ceiling-chairs.jpg");
    background-color: #333;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
@media only screen and (max-device-width: 600px) {
    .home-container {
        background-attachment: scroll;
    }
}

.landing {
    height: 100%;
    background: no-repeat right;
    background-size: 80%;
    font-family: 'Slabo 27px', serif;
}
.padding-top {
    padding-top: 10%;
}

.centering {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-container {
    background-color: #e6e6e6;
    color: #333;
    text-shadow: none;
}

.menu-container {
    background-repeat: no-repeat;
    background-image: url("/img/barbecue-barbecue-grill-blur.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("/img/barbecue-barbecue-grill-blur.jpg");
    background-color: #333;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

@media only screen and (max-device-width: 600px) {
    .menu-container {
        background-attachment: scroll;
    }
}

.text-padding-side {
    padding-left: 20%;
    padding-right: 20%;
}

.text-padding-top {
    padding-top: 2%;
}

.text-padding-bottom {
    padding-bottom: 2%;
}

.header-text {
    text-align: center;
    vertical-align: middle;
    font-size: 2.5rem;
    display: inline-block;
}

.left-body-text {
    text-align: left !important;
}

div img {
    display: block;
    width: 100%;
}

.menu-border {
    text-shadow: none;
    margin: 5px 15px;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: none;
    border-right: none;
    background: none;
    cursor: pointer;
    height: auto;
    box-shadow: none !important;
    border-radius: 0;
}
.menu-border-active {
    text-shadow: none;
    margin: 5px 15px;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    background: none;
    cursor: pointer;
    height: auto;
    box-shadow: none !important;
    border-radius: 0;
}
.menu-border:hover {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.cover-heading {
    font-family: 'Slabo 27px', serif;
    margin-left: auto;
    margin-right: auto;
}

.menu-background {
    background-color: rgba(51, 51, 51, 0.7);
}

.card-body-background {
    text-shadow: none;
    background-color: rgba(0, 0, 0,0.5);
    color: #fff;
}

.card-body-background-index {
    text-shadow: none;
    background-color: rgba(0, 0, 0,0.5);
    color: #fff;
}

.events-text {
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
}

.events-link {
     text-decoration: none;
 }

.events-link:hover {
    text-decoration: none;
    cursor: pointer;
}

/* https://github.com/IanLunn/Hover */
/* Sweep To Right */
.hvr-sweep-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: #000;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Underline From Center */
.hvr-underline-from-center {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* Grow Shadow */
.hvr-grow-shadow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#map {
    z-index: 0;
    height: 60%;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.min-height {
    min-height: 100%;
}

@media only screen and (max-width: 768px) {
    .min-height {
        min-height: 0;
    }
    #map {
        height: 40%;
        width: 100%;
    }
}

.event-list-table tr td {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#myTable {
    text-shadow: none;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 76.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}